@*Add Link To Emoji*@
@{
    ViewData["Title"] = "Home Page";
}
<style>
a.firstclass{
        font-size: 100px;
}
</style>

<div class="text-center">
    <h1 class="display-4">There We Go Again!</h1>
    <p>In This WebApp We Are Looking For Some Interest Appearance &#10024</p>   
    <a class="firstclass" href="https://localhost:7014/explore">&#128064</a>
    
    
</div>
