<style>

</style>

<head>
    <style>
      img{
          width:500px;
          border-radius:250px;          
         }

    </style>
</head>
<body>
    <div class="text-center">
        <img src="~/img/Thumv.png" />
        <br />
        <br />
        <p>My Name is alireza.</p>
        <p>Currently I'm an intern DotNet Developer</p>
        <p>My Goal is Become a Junior.&#128512;</p>
        <a href="mailto:alireza_sheikhatar@outlook.com">Email Me</a>
    </div>
</body>