<style>

</style>

<head>
    <style>

    </style>
</head>
<body>
<div>
    <a href="https://localhost:7014/about" target="_blank">About</a>
    <br />
    <a href="https://localhost:7014/Blog" target="_blank">Blog</a>
    <br />
    <a href="https://localhost:7014/pricing" target="_blank">Pricing</a>
              
</div>
</body>